@import "tailwindcss";


@keyframes shake {
  0%, 100% { transform: rotate(12deg); } 
  25% { transform: rotate(15deg); }
  75% { transform: rotate(9deg); }
}

.camera-icon {
  transition: all 0.3s ease;
}

.camera-container:hover .camera-icon {
  animation: shake 1.0s ease-in-out infinite;
}

@theme {
  --animate-shake: shake 0.5s ease-in-out infinite,
  --font-patrickHand: 'Patrick Hand', sans-serif;
  --font-allura: 'Allura', sans-serif;

  --color-whiteKuromin:	#eeeeee

}