@import "tailwindcss";


@theme {
  --font-patrickHand: 'Patrick Hand', sans-serif;
  --font-allura: 'Allura', sans-serif;

  --color-whiteKuromin:	#eeeeee
}

@layer utilities {
  .cloud-border {
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
  }
}