@import "tailwindcss";


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  75% {
    transform: translateX(10px);
  }
}

@theme {
  --animate-shake: shake 0.5s ease-in-out infinite,
  --font-patrickHand: 'Patrick Hand', sans-serif;
  --font-allura: 'Allura', sans-serif;

  --color-whiteKuromin:	#eeeeee

}